#container {
  width: 800px;
  margin: 35px auto; // Center the container
  border: 10px solid $primary-color;
  padding: 15px; // Reduce padding to create more space
  box-sizing: border-box; // Makes sure the padding and border are included in the total width
}

.wrapper {
  width: 100%; // Using 100% to make sure it fits inside the container
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 50px 10px 25px rgba(0, 0, 0, 0);
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 30px;
  font-weight: 750;
  text-align: left;
  padding: 20px 15px; // Reduce padding here as well to align with the container
  border-bottom: 1px solid #ccc;
}